<div class="showpage">

	<p><%= image_tag @recipe.image %></p>
	<p>  <%= @recipe.name %></p> 
	<% if @recipe.preparationtime.present?  %>
		<p> Preparation time: <%= @recipe.preparationtime/60 %> minutes</p> 
	<% end %>
	<p> Ingredients: <%= @recipe.ingredients %></p> 



	  <section>
	    <a href="/recipes/<%= @recipe.id %>/add">Add to Cookbook</a>
	    
	  </section>

 
</div>