
- if @error
	%ol
		= @error

%div.signup

	= form_tag '/login' do

		%div
			= label_tag :username
			= text_field_tag :username, nil, :autofocus => true
		
		%div
			= label_tag :password
			= password_field_tag :password

		%div
			%label
			= submit_tag 'Login'