%div.signup

	%h2
		Editing
		= @user.name

	= image_tag @user.avatar

	%p

		User since:
		=@user.created_at.strftime '%A %B %m %Y'

	= form_for @user do |f|
		%div
			= f.label :name
			= f.text_field :name

		%div
			= f.label :email
			= f.email_field :email

		%div
			= f.label :avatar
			= f.url_field :avatar

		%div
			<label></label>
			= f.submit