<link href='http://fonts.googleapis.com/css?family=Raleway:400,900' rel='stylesheet' type='text/css'>
<!DOCTYPE html>
<html>
<head>
  <title>Crumb..</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>



 
  
<header>
  
  <nav>
  <a href="/"><img src="assets/crumbly.jpeg"></a> 
    <ul>
	      <%== intellinav %>
    </ul>
  </nav>
  
</header>

<body>
<div class="container">
	<%= yield %>
</div>
</body>
</html>


